body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}
.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100vh;
}
.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-weight: 600;
  cursor: pointer;
}
