/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap"); */
body {
  font-family: "Poppins", sans-serif;
}
::selection {
  /* Change highlight background color to black */
  background: #f0f5f9;
  /* Change highlight text color to red */
}
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom right, #4d7fff 0%, #1a56ff 100%);
  border-radius: 5px;
}
