body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}
.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
span {
  font-weight: 600;
  cursor: pointer;
}
.btn {
  background-color: #52616b;
  border: 0;
}
